* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--color-black);
}

main {
  font-family: "Gill Sans", sans-serif;
}

:root {
  font-size: 62.5%;
  --color-pink: #ecb390;
  --color-white: #fcf8e8;
  --color-green: #94b49f;
  --color-green-light: #cee5d0;
  --color-black: #1c2732;
  --color-accent: #ed413e;

  --top-header-gap: 40rem;
}

.catalogue {
  background-color: var(--color-white);
}

/* HEADER */
.head-section {
  min-height: var(--top-header-gap);
  min-width: 100vw;
  background-size: cover;
  background-position: center;
  position: relative;
  top: 0;
  left: 0;
  margin-bottom: 4rem;
}

.head-section > h1 {
  color: var(--color-white);
  font-size: 6rem;
  position: absolute;
}

.head-section > h1 {
  bottom: 4rem;
  left: 4rem;
  z-index: 20;
}

.head-section > h1:after,
.order-tab h4:after {
  background-color: var(--color-green);
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.5em;
  z-index: -1;
}

/*-----------cart btn */
.cart-img {
  width: 10rem;
}

.head-section > button {
  border-radius: 50%;
  min-width: 15rem;
  min-height: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: var(--color-pink);
  position: absolute;
  bottom: 4rem;
  right: 4rem;
  box-shadow: 0rem 1rem 4rem var(--color-green-light);
}

.head-section > button:hover {
  background-color: var(--color-accent);
  cursor: pointer;
}

/*-----------number of things in cart */
.head-section > button > div {
  border-radius: 50%;
  min-width: 5rem;
  min-height: 5rem;
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-accent);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 2;
}

/* BOOK DETAILS */

.book-details > img {
  max-width: 20rem;
  min-height: 30rem;
  object-fit: cover;
  object-position: center;
}

.book-grid {
  width: 70%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 2rem;
}

.book-details {
  width: calc(50% - 5rem);
  display: flex;
}

.book-details__info {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.book-details__info h3 {
  font-size: 2.5rem;
  font-weight: lighter;
  margin-bottom: 1rem;
}

.book-details__info h2 {
  font-size: 3.5rem;
  line-height: 3.2rem;
}

.book-details__info h4 {
  margin: 1rem 0;
  font-size: 1.5rem;
  color: var(--color-white);
  background-color: var(--color-black);
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border-radius: 2rem;
  font-weight: lighter;
}

button[id^="SHOW"] {
  background-color: var(--color-green);
}

button[id^="ADD"] {
  background-color: var(--color-pink);
}

button[id^="CANCEL"] {
  background-color: var(--color-green-light);
  align-self: center;
}

button[id^="ADD"],
button[id^="SHOW"],
button[id^="CANCEL"] {
  font-size: 1.5rem;
  width: 15rem;
  text-transform: uppercase;
  font-weight: lighter;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
}

button[id^="ADD"]:hover,
button[id^="SHOW"]:hover,
button[id^="CANCEL"]:hover {
  -webkit-box-shadow: inset 0px 0px 0px 0.2rem var(--color-black);
  -moz-box-shadow: inset 0px 0px 0px 0.2rem var(--color-black);
  box-shadow: inset 0px 0px 0px 0.2rem var(--color-black);
  background-color: var(--color-white);
  cursor: pointer;
}

button[id^="ADD"]:active,
button[id^="SHOW"]:active,
button[id^="CANCEL"]:active {
  color: var(--color-white);
  background-color: var(--color-black);
}

.book-details__btns {
  align-self: flex-end;
  display: flex;
  gap: 2rem;
}

.book-details__popup {
  position: absolute;
  top: 0;
  background-color: var(--color-white);
  opacity: 0.95;
  font-size: 1.6rem;
  line-height: 2rem;
  height: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  flex-direction: column;
}

/* ORDER TAB */
.order-tab {
  position: fixed;
  right: 0;
  background-color: var(--color-green-light);
  z-index: 100;

  max-width: 40rem;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 2rem;
  border-radius: 3rem 0 0 3rem;
  border: 1rem solid var(--color-green-light);
}

.order-tab__book-info {
  display: flex;
  padding: 2rem;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  position: relative;
}

.order-tab__book-info > img {
  max-width: 10rem;
  max-height: 14rem;
  object-fit: cover;
  object-position: center;
}

.order-tab h4 {
  font-size: 4rem;
  display: inline-block;
  margin-bottom: 2rem;
  position: relative;
  color: var(--color-white);
}

.order-tab p {
  font-size: 2rem;
  line-height: 1.8rem;
  max-width: 50%;
  display: inline;
  font-weight: lighter;
  border-bottom: 1rem solid var(--color-white);
  padding-bottom: 1rem;
}

.order-tab h5 {
  background-color: var(--color-green);
  margin-top: 2rem;
  font-size: 2rem;
  color: var(--color-white);
  background-color: var(--color-black);
  display: inline-block;
  padding: 0.8rem 1.4rem;
  border-radius: 2rem;
  font-weight: lighter;
}

.order-tab span {
  position: absolute;
  top: 3rem;
  left: 3rem;
  background-color: var(--color-white);
  font-size: 1.2rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  flex-wrap: wrap;
}

.order-tab__book-info > button > img {
  width: 1.2rem;
  height: 1.2rem;
}

.order-tab__book-info > button {
  padding: 1rem;
  position: absolute;
  right: 0;
  background-color: var(--color-white);
  border-radius: 50%;
  border: none;
}

.order-tab__book-info > button:hover {
  background-color: var(--color-accent);
}

.order-tab__book-info-price {
  position: absolute;
  bottom: 3rem;
  left: 3rem;
  background-color: var(--color-black);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--color-white);
}

.order-tab__order-btn {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 1rem;
  background-color: var(--color-accent);
  padding: 1rem;
  border-radius: 2rem;
  border: none;
}
.order-tab__order-btn:hover {
  color: var(--color-accent);
  background-color: var(--color-white);
}

/* form */
.FORM {
  margin: 0;
  position: relative;
  left: 50%;
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  background-color: var(--color-green-light);
  padding: 3rem 6rem;
  border-radius: 6rem;
}

.form {
  display: block;
  width: 40%;
  margin: 0 auto;
  font-size: 2rem;
}
form > input {
  display: block;
  background-color: var(--color-green);
  border: none;
  padding: 1rem;
  border-radius: 1rem;
  min-width: 30rem;
  margin: 1rem 0;
}
form > label {
  font-size: 3rem;
}
